<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Independent Record Label based at Fres Wota 4, Efate, Vanuatu</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We initially started out as a mobile recording studio to record upcoming Ni-Van artists.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2012</h4>
                                <h4 class="subheading">Pilo Wan Plus Four</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Our first project was "Pilo Wan Plus Four - Nasama Resort" and since then we have made it our mission to help struggling artists.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2013</h4>
                                <h4 class="subheading">Manples Warriors</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We launched this project back in 2012, to help youth at Manples Area through music. Around April of 2013 the boys came together and formed Manples Warriors Band.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2013</h4>
                                <h4 class="subheading">Independent Record Label</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">When asked, what is the biggest obstacle in our music industry? The answer is not enough exposure on the International Market. So we move into publishing to kick start promotion of Vanuatu Artists and Producers.</p>
                            </div>
                        </div>
                    </li>
        <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Paxton Beatz Compilations Vol:1</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Paxton Beatz is a young talented producer and beat maker. He is also one of the main driving force behind Kings Tone 4 Records.</p>
                            </div>
                        </div>
                    </li>
        <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>October 2014</h4>
                                <h4 class="subheading">Mobile App</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Now you can get the latest music from Vanuatu on your mobile device. Support for both iOS and Android devices. </p>
                            </div>
                        </div>
                    </li>
        <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>November 2014</h4>
                                <h4 class="subheading">Website Redesign</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Beautiful, fast, clean website design using flask micro framework and bootstrap.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
