    <div id="footer">
           <div class="container">
            <ul class="list-inline center-block">
                <li>
                    <h5>Copyright &copy; 2017</h5>
                </li>
                <li>
                    <h5>
                        <a href="http://www.facebook.com/kt4records" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
                        </a>
                    </h5>
                </li>
                <li>
                    <h5>
                        <a href="mailto:kt4records@gmail.com">
                            <i class="fa fa-envelope-open-o" aria-hidden="true"></i> Email
                        </a>
                    </h5>
                </li>
                <li class="nav pull-right scroll-top">
                    <a href="#" title="Scroll to top">
                        <i class="glyphicon glyphicon-chevron-up"></i></a>
                </li>
            </ul>
        </div>
    </div><!-- /footer-->
