<meta charset="UTF-8">
<link rel="dns-prefetch" href="//media.githubusercontent.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/sc-player.css" type="text/css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" type="text/css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/fontello.css" type="text/css">
<!--[if IE]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
