<meta charset="UTF-8">
<meta property="fb:app_id" content="978128892233940" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="https://media.githubusercontent.com/media/kt4records/kt4records.github.io/master/assets/images/kt4.jpg" />
{% seo %}
<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/sc-player.css" type="text/css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" type="text/css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/fontello.css" type="text/css">
<!--[if IE]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
