<nav class="navbar navbar-inverse sidebar navbar-fixed-top visible-lg" style="background-color: transparent;" role="navigation">
    <div class="nav-side-menu">
 		{% if page.categories contains "Album" %}
        	{% if page.previous and page.previous.categories contains "Album" %}
        	<a class="list-group-item" href="{{ site.url }}{{ page.previous.url }}" title="Previously: &ldquo;{{ page.previous.title }}&rdquo;" alt="{{ page.previous.title }}">
        	<div class="brand">&laquo; P R E V I O U S {{ page.previous.icon }}</div>
        	{{ page.previous.title }}</a>
        	{% endif %}
		{% endif %}
		{% if page.categories contains "Single" %}
        	{% if page.previous and page.previous.categories contains "Single" %}
        	<a class="list-group-item" href="{{ site.url }}{{ page.previous.url }}" title="Previously: &ldquo;{{ page.previous.title }}&rdquo;" alt="{{ page.previous.title }}">
        	<div class="brand">&laquo; P R E V I O U S {{ page.previous.icon }}</div>
            {{ page.previous.title }}</a>
        	{% endif %}
		{% endif %}
    <ul class="list-group-item">
        <div class="brand">T R A C K L I S T <i class="demo-icon icon-pin"></i></div>
        <span>Side A:<br> {{ page.side-a | remove:"'" | replace:'_'," " }}<br>
              Side B:<br> {{ page.side-b | remove:"'" | replace:'_'," " }}</span>
        <div class="brand">D O W N L O A D</div>
            <span><a href="{{ site.adbitly }}{{ page.download }}" target="_blank" class="btn btn-default download" title="Download as ZIP" role="button"><i class="demo-icon icon-download"></i></a></span>
    </ul>
    </div>
</nav>
