    <nav id="top" class="navbar navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}/"><i class="demo-icon icon-crown"></i> KINGS TONE 4 RECORDS</a>
            </div>

            <div class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.url }}/about">About</a></li>
                    <li><a href="{{ site.url }}/contact">Contact</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Mixtapes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/mixtapes/single">Single</a></li>
                            <li><a href="{{ site.url }}/mixtapes/album">Album</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--.nav-collapse -->
        </div>
    </nav>
