---
layout: default
title: Category
---

{% assign rawcategories = "" %}
{% for post in site.posts %}
	{% assign ccategories = post.categories | join:'|' | append:'|' %}
	{% assign rawcategories = rawcategories | append:ccategories %}
{% endfor %}
{% assign rawcategories = rawcategories | split:'|' | sort %}

{% assign categories = "" %}

{% for category in rawcategories %}
	{% if category != "" %}
		{% if categories == "" %}
			{% assign categories = categories | split:'|' %}
		{% endif %}
		{% unless categories contains category %}
			{% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}
<div class="category">
<h1><a href="{{ site.url }}/cassette/">Mixtapes</a> | {{ page.title }}</h1>
{% for category in categories %}
	<p id="{{ category | slugify }}">{{ category }}</p>
	<ul class="posts">
	 {% for post in site.posts %}
		 {% if post.categories contains category %}
		 <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
		 </li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
</div>
