---
layout: default
title: Mixtapes &middot; KT4Records
---

{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tags | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

<div class="tag">
<h1>{{ page.title | remove:'KT4Records' }}<i class="demo-icon icon-cassette"></i></h1>
{% for tag in tags %}
	<p id="{{ tag | slugify }}">{{ tag | replace:'_',' ' }}</p>
	<ul class="posts">
	 {% for post in site.posts %}
		 {% if post.tags contains tag %}
		 <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
{% if post.categories contains "Albums" %}
 - <span style="font-size:8pt;"> Album</span>
{% endif%}
		 </li>
		 {% endif %}
	 {% endfor %}
	</ul>
{% endfor %}
</div>
