<!DOCTYPE html>
<html lang="">

<head>
{% include header.html %}
<meta property="og:type" content="music.song">
<meta property="og:image" content="{{ site.media }}{{ page.image }}">
<meta property="og:image:width" content="150">
<meta property="og:image:height" content="150">
<meta property="og:description" content="{{ page.meta_artist }} - {{ page.description }}">
{% include style.html %}
{% include knobKnob.html %}
<link rel="stylesheet" href="{{ site.url }}/assets/css/font.css" type="text/css" />
<link rel="stylesheet" href="{{ site.url }}/assets/css/sidebar.css" type="text/css" />
<script type="text/javascript" src="{{ site.url }}/assets/js/modernizr.custom.69142.js"></script>
</head>

<body>
{% include nav.html %}
{% include left_sidebar.html %}
{% include right_sidebar.html %}

<!--Player-->
<div id="vc-container" class="vc-container">
        <div class="vc-tape-wrapper">
            <div class="vc-tape">
                <div class="vc-tape-back">
                    <div class="vc-tape-wheel vc-tape-wheel-left">
                        <div></div>
                    </div>
                    <div class="vc-tape-wheel vc-tape-wheel-right">
                        <div></div>
                    </div>
                </div>
                <div class="vc-tape-front vc-tape-side-a">
                    <span>A</span>
                </div>
                <div class="vc-tape-front vc-tape-side-b">
                    <span>B</span>
                </div>
            </div>
        </div>
    <div class="track">{{ page.artist }} - {{ page.title }}</div>
        <div class="vc-loader"></div>
    </div> <!-- //vc-container -->

    <div class="post">
      {{ content }}
    </div>
    {% include footer.html %}
    {% include script.html %}
    {% include jquery.cassette.html %}
    <script type="text/javascript" src="{{ site.url }}/assets/js/transform.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/knobKnob.jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){$("#vc-container").cassette()})
    </script>
</body>

</html>
