<!DOCTYPE html>
<html lang="">
<head>
<title>{{ page.title }} &middot; KT4Records</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="dns-prefetch" href="//kt4records.updog.co" />
<link rel="dns-prefetch" href="//gg-l.xyz" />
<link rel="dns-prefetch" href="//adbitly.com" />
<link rel="dns-prefetch" href="//drive.google.com" />
<link rel="dns-prefetch" href="//www.google-analytics.com" />
<link rel="dns-prefetch" href="//pagead2.googlesyndication.com" />
<link rel="dns-prefetch" href="//connect.facebook.net" />
<meta property="fb:app_id" content="137447593374138" />
<meta property="og:type" content="music.song" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:description" content="{{ page.artist }} - {{ page.description | replace:'<br>',' ' | replace:'<hr>',' ' }}" />
<meta property="og:image" content="{{ site.media }}/assets/images/socialmedia/{{ page.artwork }}.jpg" />
<meta property="og:image:height" content="600" />
<meta property="og:image:width" content="315" />.
{% include header.html %}
{% include style.html %}
{% include knobKnob.html %}
<link rel="stylesheet" href="{{ site.url }}/assets/css/font.css" type="text/css" />
<link rel="stylesheet" href="{{ site.url }}/assets/css/sidebar.css" type="text/css" />
<script async type="text/javascript" src="{{ site.url }}/assets/js/modernizr.custom.69142.js"></script>
</head>

<body>
{% include nav.html %}
{% include left_sidebar.html %}
{% include right_sidebar.html %}

<!--Player-->
<div id="vc-container" class="vc-container">
        <div class="vc-tape-wrapper">
            <div class="vc-tape">
                <div class="vc-tape-back">
                    <div class="vc-tape-wheel vc-tape-wheel-left">
                        <div></div>
                    </div>
                    <div class="vc-tape-wheel vc-tape-wheel-right">
                        <div></div>
                    </div>
                </div>
                <div class="vc-tape-front vc-tape-side-a">
                    <span>A</span>
                </div>
                <div class="vc-tape-front vc-tape-side-b">
                    <span>B</span>
                </div>
            </div>
        </div>
    <div class="track">{{ page.artist }} - {{ page.title }}</div>
        <div class="vc-loader"></div>
    </div> <!-- //vc-container -->

    <div class="post hidden-lg">
	<ul class="list-group-item">
        <div class="brand"><i class="demo-icon icon-pin"></i> I N F O R M A T I O N S</div>
        <span><img class="artwork" src="{{ site.media }}/assets/images/artwork/{{ page.artwork }}.jpg"/><br>
            Artist: {{ page.artist }}<br>
        {% if page.categories contains "Single" %}
            Title: {{ page.description }}
        {% endif %}
        {% if page.categories contains "Album" %}
            Album: {{ page.title }}<br>
			{{ page.description }}
        {% endif %}</span>
    </ul>
    <ul class="list-group-item">
        <div class="brand">T R A C K L I S T <i class="demo-icon icon-pin"></i></div>
        <span>Side A:<br> {{ page.side-a | remove:"'" | replace:'_'," " }}<br>
              Side B:<br> {{ page.side-b | remove:"'" | replace:'_'," " }}</span>
        <div class="brand">D O W N L O A D</div>
            <span><a href="{{ site.adbitly }}{{ page.download }}" target="_blank" class="btn btn-default btn-xs download" title="Download as ZIP" role="button" download="{{ site.adbitly }}{{ page.download }}"><i class="demo-icon icon-download"></i></a></span>
    </ul>

    <ul class="list-inline center-block">
		<li class="previous">
    	{% if page.categories contains "Album" %}
        	{% if page.previous and page.previous.categories contains "Album" %}
        	<a class="list-group-item" href="{{ site.url }}{{ page.previous.url }}" title="Previously: &ldquo;{{ page.previous.title }}&rdquo;" alt="{{ page.previous.title }}">
        	<div class="brand">&laquo; P R E V I O U S {{ page.previous.icon }}</div>
        	{{ page.previous.title }}</a>
        	{% endif %}
		{% endif %}
		{% if page.categories contains "Single" %}
        	{% if page.previous and page.previous.categories contains "Single" %}
        	<a class="list-group-item" href="{{ site.url }}{{ page.previous.url }}" title="Previously: &ldquo;{{ page.previous.title }}&rdquo;" alt="{{ page.previous.title }}">
        	<div class="brand">&laquo; P R E V I O U S {{ page.previous.icon }}</div>
            {{ page.previous.title }}</a>
        	{% endif %}
		{% endif %}
		</li>
 		<li class="next">
  		{% if page.categories contains "Album" %}
        	{% if page.next and page.next.categories contains "Album" %}
        	<a class="list-group-item" href="{{ site.url }}{{ page.next.url }}" title="Coming up: &ldquo;{{ page.next.title }}&rdquo;" alt="{{ page.next.title }}">
        	<div class="brand">{{ page.next.icon }} N E X T &raquo;</div>
            {{ page.next.title }}</a>
        	{% endif %}
		{% endif %}
		{% if page.categories contains "Single" %}
        	{% if page.next and page.next.categories contains "Single" %}
        	<a class="list-group-item" href="{{ site.url }}{{ page.next.url }}" title="Coming up: &ldquo;{{ page.next.title }}&rdquo;" alt="{{ page.next.title }}">
        	<div class="brand">{{ page.next.icon }} N E X T &raquo;</div>
            {{ page.next.title }}</a>
        	{% endif %}
		{% endif %}
		</li>
	</ul>
   	{{ content }}<!--/content-->

    </div><!--/post-->
    {% include footer.html %}
    {% include script.html %}
    {% include jquery.cassette.html %}
    <script async type="text/javascript" src="{{ site.url }}/assets/js/transform.min.js"></script>
    <script async type="text/javascript" src="{{ site.url }}/assets/js/knobKnob.jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){$("#vc-container").cassette()})
    </script>
</body>

</html>
